/* Estilos do Modo Claro */
.light-theme {
  background-color: white;
  color: black;
}

/* Estilos do Modo Escuro */
.dark-theme {
  background-color: #121212;
  color: white;
}

.dark-theme .sidebar {
  background-color: #222;
}

.dark-theme .card {
  background-color: #333;
  color: white;
}

.dark-theme footer {
  background-color: #121212;
}

.navbar .logo {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkkit-text-fill-color: transparent;
  animation: logoGlow 2s infinite alternate;
}

@keyframes logoGlow {
  0% { text-shadow: 2px 2px 5px rgba(0, 198, 255, 0.4);}
  100% { text-shadow: 4px 4px 10px rgba(0, 198, 255, 0.9);}
}


